.chart svg {
	border:none;/*1px solid #ddd;*/
	background: transparent;
}
.chart .series path {
	fill:none;
	stroke:#000;
	stroke-width:1px;
}
.chart .series path.bg {
	stroke:#aaa;
	stroke-width:8px;
	stroke-opacity:0;
}

.chart .series .point circle {
	fill-opacity:0;
	fill:#666;
} 
.chart .series .point circle.bg {
	fill-opacity:0;
}
.chart .series .point:hover circle {
	fill-opacity:1;
}
.chart .series .point:hover circle.bg {
	fill-opacity:0.2;
}

.chart .axis path,
.chart .axis line {
	shape-rendering:crispEdges;
	fill:none;
	stroke:#999;
}

.chart .axis .tick line {
	stroke:#999;
}
.chart .axis .tick text{
	font-size: 10px;
	fill:#111;
}

