body {
  	background-color: #000;
  	font-family: Georgia;
  	font-size:16px;
  	color:#eee;
}
.hidden {
	display: none;
}
h1,h2,h3,h4,h5 {
	/*font-family: 'Roboto Slab', serif;*/
	font-family: 'Rozha One', serif;
	letter-spacing: 0.05em;
	font-weight: 700;
}
h4 {
	font-weight: 300;
}
#fold {
	background-color:#fff;
	position: relative;
}
#fold h1 {
	color: #333;
	font-size:40px;
}
#fold p.sentence {
	font-size: 26px;
	font-style: italic;;
	color:#333;
}
#toast {
	line-height: 0;
	margin-left: -15px;
}
#toast svg {
	
	-webkit-transition: height 1000ms linear;
	-moz-transition: height 1000ms linear;
	-ms-transition: height 1000ms linear;
	-o-transition: height 1000ms linear;
	transition: height 1000ms linear;
	
}
#toast svg text {
	font-family: Georgia,serif;
	font-size: 13px;
	fill:#333;
}
#toast svg g#bigToast rect.bread {
	stroke:#E5A244;
	stroke-width:3;
	fill:#E4C072;
	fill:url(#toastGradient);
}
#toast svg g#bigToast rect.butter {
	stroke:none;
	fill:#fff;
	fill-opacity:0.4;
}
#toast svg g#bigToast line.butter {
	stroke:#fff;
	stroke-width:3;
	stroke-linecap: round;
}
#toast svg g#bigToast line.lens {
	stroke:#ddd;
	stroke-width:1;
	/*stroke-dasharray: 1 4;*/
}
#toast svg g#bigToast g.size path {
	fill:none;
	shape-rendering: crispEdges;
	stroke:#aaa;
	stroke-width:1;
}
#toast svg g#bigToast g.size rect {
	fill:#fff;
	shape-rendering: crispEdges;
	stroke:none;
}
#toast svg g#bigToast g.size text {
	text-anchor:middle;
	fill:#aaa;
}
#toast svg g#bigToast:hover g.size path {
	stroke:#333;
}
#toast svg g#bigToast:hover g.size text {
	fill:#333;
}
#toast svg g#cup path {
	fill:#000;
	stroke:none;
}
#toast svg g#table rect {
	fill:#000;
	stroke:#fff;
}
#toast svg g#table rect {
	/*stroke:#B09146;
	fill:#E6C26D;*/
	stroke-width:2;
	shape-rendering: crispEdges;
}
/*
#toast svg g#table rect.bottom {
	fill:url(#tableBottomGradient);
}
#toast svg g#table rect.leg {
	fill:#DFC597;
}
#toast svg g#table rect.shadow {
	stroke:none;
	fill:url(#tableShadowGradient);
}*/
#toast svg g#table rect.tableEdge {
	stroke:none;
	fill:#ddd;
	fill:url(#tableEdge);
	fill-opacity:0.4;
}
#toast svg g#table line.tableEdge {
	stroke:#aaa;
	shape-rendering: crispEdges;
	/*stroke-dasharray: 4,4;*/
}

#toast svg g#table text.info {
	text-anchor:middle;
}
#toast #table line.dropline {
	stroke:#aaa;
	stroke-width:1;
	fill:none;
	shape-rendering: crispEdges;
	stroke-dasharray: 2,2;
}

#toast g.angle text {
	fill:#555;
	font-size:12px;
}
#toast #axes .axis {
	
}
#toast #axes .axis path {
	stroke:#999;
	stroke-width:1;
	fill:none;
	shape-rendering: crispEdges;
}
#toast #axes .axis .tick line {
	stroke:#aaa;
	stroke-width:1;
	fill:none;
	shape-rendering: crispEdges;
}
#toast #axes .axis .tick text{
	font-size: 10px;
	fill:#777;
}
#toast .toast {
	opacity: 1;
}
#toast .toast.visible {
	opacity: 1;
}
/*#toast .toast:hover {
	opacity: 1;
}*/
#toast .toast circle {
	fill:#333;
	fill-opacity:1;
	stroke:none;
}
#toast .toast rect {
	fill:#E5A244;
	fill:#000;
	fill-opacity:0;
	stroke:none;
}
.ix rect {
	fill:#000;
	fill-opacity:0 !important;
}
.ix g.info {
	display: none;
}
.ix:hover g.info {
	display: block;
}
.ix g.info line {
	stroke:#aaa;
	stroke-width:1;
	shape-rendering: crispEdges;
}
#toast .toast path.arrow {
	fill-opacity:0;
	fill:#ff2200;
	stroke:none;
}
#toast .toast.safe path.arrow {
	fill:#339933;
}

#toast .toast.last path.arrow/*,
#toast .toast:hover path.arrow*/ {
	fill-opacity:1;
}
#toast .toast.visible rect {
	fill-opacity:1;
}
#toast .toast line.butter {
	stroke:#FBBD04;
	stroke-width:2;
	stroke-opacity:0;
	fill:none;
	stroke-linecap: round;
}
#toast .toast circle.marker {
	fill:#333;
	stroke:none;
}
#toast .toast line.dropline {
	stroke:#333;
	stroke-width:1;
	fill:none;
	shape-rendering: crispEdges;
	display: none;
}
#toast .toast:hover line.dropline {
	display: block;
}
/*#toast .toast:hover rect {
	fill-opacity:1;
}
#toast .toast:hover line.butter {
	fill-opacity:1;
}*/
#toast .toast:hover line.butter,
#toast .toast.visible line.butter {
	stroke: #FBBD04;
	stroke-opacity:1;
}