#toast .toast {
	opacity: 1;
}
#toast .toast.visible {
	opacity: 1;
}
/*#toast .toast:hover {
	opacity: 1;
}*/
#toast .toast circle {
	fill:#333;
	fill-opacity:1;
	stroke:none;
}
#toast .toast rect.bread {
	fill:#E5A244;
	fill:#000;
	fill-opacity:0.2;
	stroke:none;
}
